body {
    /*fondo*/
    background-color: #E1C78F;
    /*letra de la lista*/
    color: rgb(58, 42, 19);
    /*alineacion del texto*/
    text-align: center;
    /*fuente texto*/
   
}

h1 {
    color: #FAE7C9;
    /*color de "Lista de Pendientes"*/
    font-size: 70px;
    font-style: italic;
    border-radius: 30px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #739072;
}

label {
    color: #b65206;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    /*color "escribir algun pendiente"*/
    font-weight: bolder;
}

button {
    margin-left: 50px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7e9c6e; 
    color: #FFEECC;  
    padding: 5px 25px;
    font-size: 20px;
    font-style: italic;
    border-radius: 10px;
    border-color: #739072;
}

input {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 30px;
    border-color: #F9E0BB;
    background-color: #F2ECBE;  
    color: #99B080;
    font-family: monospace;
    font-weight: bold;
}

ul {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 200px;
    margin-left: 400px;
    font-size: 25px;
    font-weight: bold;
    color: #CD5C08;
    font-family: monospace;
}